html {
  font-size: 10px; /* px 表示 “像素（pixels）”: 这个基础字号现在高10像素 */
  font-family: 'Raleway', sans-serif;
  background-color: #F9F105;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h3{
  margin: 0;
  padding: 20px 0; 
  font-size: 60px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
p, li{
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;	
}

#pika{
  color: yellow;
}
#cha{
  color: red;
}
#squ{
  color: blue;
}